body {
	margin: 0;
	padding: 0;
}
.topbar {
	background: aliceblue;
	padding: 5px;
}
.controls {
	display: inline-block;
	background: #eee;
	padding: 5px;
}
.pull-right {
	float: right;
}

.LoginLink {
	padding: 5px;
	float: right;
}
.LoginLink form {
	display: inline-block;
}
.LoginForm {
	max-width: 500px;
	margin: 50px auto;
	padding: 50px;
	border: 1px solid #ddd;
}

/* bootstrap overrides */
.table>tbody>tr>td {
	border-top: 1px dotted #eee;
}
.table>tbody>tr:hover>td {
	background: lightyellow;
}


.user-stat {
	padding: 20px;
	text-align: center;
	border: 1px solid #ccc;
	margin: 10px;
	display: inline-block;
}
.user-stat .num {
	font-size: 24px;
	font-weight: bold;
}
